<h1 class="acceuil">{{user.firstName}} {{user.lastName}}</h1>
<div class="selection">
    <div class="card">
        <button [ngStyle]="{'font-size': size + 'px'}" class="button" (click)="goToPage('/quiz-list')">Créer un Quiz</button>
        <button [ngStyle]="{'font-size': size + 'px'}" class="button" (click)="goToPage('/quiz-selection')">Faire un Quiz</button>
    </div>
    <div class="card">
        <button [ngStyle]="{'font-size': size + 'px'}" class="button" (click)="goToPage('/quiz-list')">Mes Quiz</button>
        <button [ngStyle]="{'font-size': size + 'px'}" class="button" (click)="goToPage('/score-page')">Mes Scores</button>
    </div>
</div>

<br><br>
<app-bottom-sheet-visual-preference></app-bottom-sheet-visual-preference>
