<h1 class="acceuil" [ngStyle]="{'font-size': size + 'px'}" *ngIf="user"><u>
    {{user.firstName}} {{user.lastName}}
</u></h1>
<div class="selection">
    <div class="card">
        <button [ngStyle]="{'font-size': size + 'px'}" class="button-card" (click)="goToPage('/quiz-selection')">Faire un Quiz</button>
        <button [ngStyle]="{'font-size': size + 'px'}" class="button-card" (click)="goToPage('/quiz-list')">Editer un Quiz</button>
        <button [ngStyle]="{'font-size': size + 'px'}" class="button-card" (click)="goToPage('/score-page')">Mes Scores</button>
    </div>
</div>

<br><br>
<app-bottom-sheet-visual-preference class="bottom-sheet"></app-bottom-sheet-visual-preference>
