<app-connected-header class="header"></app-connected-header>

<h1 class="name" *ngIf="user">Scores de {{user.firstName}} {{user.lastName}}</h1>
<div class="selection-menu">
    <div class="select-level">
    Sélectionner le niveau:
    <select class= "select" id="niveau_quiz" [(ngModel)]="niveau" [ngModelOptions]="{standalone: true}">
        <option value="all">Tous niveaux</option>
        <option value="Facile">Facile</option>
        <option value="Moyen">Moyen</option>
        <option value="Difficile">Difficile</option>
      </select>
    </div>
      <div class="select-theme">
        Sélectionner le thème:
        <select [(ngModel)]="themeSelected" class= "select">
            <option value="all">Tous les thèmes</option>
            <option *ngFor="let theme of themesStr" [value]="theme">{{theme}}</option>
        </select>
    </div>
</div>

<div class="quiz-selection">

    <div *ngIf="niveau === 'all'">

        <div *ngIf="themeSelected === 'all'">
            <div class="games" *ngFor="let quizgame of playersQuizGame; let i=index">
                <div class="game">
                    <h3>{{quizgame.quiz.name}}</h3>
                    Pourcentage de réponses justes: {{scores[i][0]}}%
                    <br>
                    Nombre de réponses justes: {{scores[i][1]}}/{{scores[i][2]}}
                    <br>
                    Date: {{quizgame.gameDate | date:"dd/MM/yyyy à HH:mm"}}
                    <br>
                    Difficulté: {{quizgame.quiz.niveau}}
                </div>
            </div>
        </div> 

        <div *ngIf="themeSelected !== 'all'">
            <div class="games" *ngFor="let quizgame of playersQuizGame; let i=index">
                <div class="game" *ngIf="quizgame.quiz.theme === themeSelected">
                    <h3>{{quizgame.quiz.name}}</h3>
                    Pourcentage de réponses justes: {{scores[i][0]}}%
                    <br>
                    Nombre de réponses justes: {{scores[i][1]}}/{{scores[i][2]}}
                    <br>
                    Date: {{quizgame.gameDate | date:"dd/MM/yyyy à HH:mm"}}
                    <br>
                    Difficulté: {{quizgame.quiz.niveau}}
                </div>
            </div>
        </div>

    </div>
    


    <div *ngIf="niveau !== 'all'">
        <div *ngIf="themeSelected === 'all'">
            <div class="games" *ngFor="let quizgame of playersQuizGame; let i=index">
                <div class="game" *ngIf="quizgame.quiz.niveau === niveau">
                    <h3>{{quizgame.quiz.name}}</h3>
                    Pourcentage de réponses justes: {{scores[i][0]}}%
                    <br>
                    Nombre de réponses justes: {{scores[i][1]}}/{{scores[i][2]}}
                    <br>
                    Date: {{quizgame.gameDate | date:"dd/MM/yyyy à HH:mm"}}
                    <br>
                    Difficulté: {{quizgame.quiz.niveau}}
                </div>
            </div>
        </div>
        <div *ngIf="themeSelected !== 'all'">
            <div class="games" *ngFor="let quizgame of playersQuizGame; let i=index">
                <div class="game" *ngIf="(quizgame.quiz.niveau === niveau) && (quizgame.quiz.theme === themeSelected)">
                    <h3>{{quizgame.quiz.name}}</h3>
                    Pourcentage de réponses justes: {{scores[i][0]}}%
                    <br>
                    Nombre de réponses justes: {{scores[i][1]}}/{{scores[i][2]}}
                    <br>
                    Date: {{quizgame.gameDate | date:"dd/MM/yyyy à HH:mm"}}
                    <br>
                    Difficulté: {{quizgame.quiz.niveau}}
                </div>
            </div>
        </div>
    </div>
    
</div> 


<button class="back-button" (click)="this.utilService.goToPage('/acceuil-joueur')">Retour</button>