@import "../../../styles/variables.scss";
@import "../../../styles/back.scss";

.name{
    display: flex;
    justify-content: center;
}

.games {
    display: flex;
    float: left;
}
.game {
    background: $white;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    padding: 0 1em 1em 1em;
}

.input-custom-query {
    min-width: 220px;
}

.query {
    margin-top: 10px;
    font-size: larger;
    margin-left: 40px;
}

.selection-menu {
    display: flex;
    justify-content: center;
}

.select-level {
    margin-top: 40px;
    font-size: larger;
    
}

.select-theme {
    margin-top: 40px;
    font-size: larger;
    margin-left: 40px;
}

.select {
    margin-left: 20px;
    font-size: larger;
}