@import '../../../styles/back.scss';
@import '../../../styles/not-found-button.scss';

.quiz-selection {
    display: flex;
}

.selection-menu {
    display: flex;
    justify-content: center;
}

.select-level {
    margin-top: 40px;
    font-size: larger;
    
}

.select-theme {
    margin-top: 40px;
    font-size: larger;
    margin-left: 40px;
}

.select {
    margin-left: 20px;
    font-size: larger;
}

.quiz {
    float: left;
}