<app-connected-header class="header"></app-connected-header>

<div *ngIf="user">
    <div class="result" *ngIf="(quizList === undefined || quizList.length === 0) && user.admin">
        <button class="button" (click)="this.utilService.goToPage('/quiz-list')">Aucun quiz n'a été trouvé. Cliquer pour en créer un.</button>
    </div>
    <div class="result" *ngIf="(quizList === undefined || quizList.length === 0) && !user.admin">
        <button class="button">Aucun quiz n'a été trouvé. Appelez un auxiliaire de vie pour en créer un.</button>
    </div>
</div>

<div class="select-level">
    Sélectionner le niveau:
    <select class= "select" id="niveau_quiz" [(ngModel)]="niveau" [ngModelOptions]="{standalone: true}">
        <option value="all">Tous niveaux</option>
        <option value="Facile">Facile</option>
        <option value="Moyen">Moyen</option>
        <option value="Difficile">Difficile</option>
      </select>
</div>
<div class="quiz-selection">
    <div *ngIf="niveau === 'all'">
        <div class="quiz" *ngFor="let quiz of quizList" >
            <app-quiz-selection-view [quiz]="quiz" (quizSelected)="selectQuiz($event)"></app-quiz-selection-view>
        </div>
    </div>
    <div *ngIf="niveau !== 'all'">
        <div class="quiz" *ngFor="let quiz of quizList" >
            <app-quiz-selection-view *ngIf="quiz.niveau === niveau" [quiz]="quiz" (quizSelected)="selectQuiz($event)"></app-quiz-selection-view>
        </div>
    </div>
    
</div> 
<button class="back-button" (click)="this.utilService.goToPage('/acceuil-joueur')">Retour</button>