<app-connected-header class="header"></app-connected-header>

<div *ngIf="user">
  <div class="result" *ngIf="(quizList === undefined || quizList.length === 0) && user.admin">
    <button class="button" (click)="this.utilService.goToPage('/quiz-list')">Aucun quiz n'a été trouvé. Cliquer pour en
      créer un.</button>
  </div>
  <div class="result" *ngIf="(quizList === undefined || quizList.length === 0) && !user.admin">
    <button class="button">Aucun quiz n'a été trouvé. Appelez un auxiliaire de vie pour en créer un.</button>
  </div>
</div>

<div class="selection-menu">
  <div class="select-level">
    Sélectionner le niveau:
    <select class="select" id="niveau_quiz" [(ngModel)]="niveau" [ngModelOptions]="{standalone: true}">
      <option value="all">Tous niveaux</option>
      <option value="Facile">Facile</option>
      <option value="Moyen">Moyen</option>
      <option value="Difficile">Difficile</option>
    </select>
  </div>
  <div class="select-theme">
    Sélectionner le thème:
    <select [(ngModel)]="themeSelected" class="select">
      <option value="all">Tous les thèmes</option>
      <option *ngFor="let theme of themesStr" [value]="theme">{{theme}}</option>
    </select>
  </div>
  <div class="query">
    <mat-form-field class="input-custom-query">
      <input matInput  type="text" id="name" [(ngModel)]="query">
      <mat-label>Rechercher un quiz</mat-label>
    </mat-form-field>
  </div>
</div>
<div class="quiz-selection">

  <div *ngIf="niveau === 'all'">

    <div *ngIf="themeSelected === 'all'">
      <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz-selection-view *ngIf="quiz.name.includes(query)" [quiz]="quiz" (quizSelected)="selectQuiz($event)"></app-quiz-selection-view>
      </div>
    </div>

    <div *ngIf="themeSelected !== 'all'">
      <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz-selection-view *ngIf="quiz.theme === themeSelected && quiz.name.includes(query)" [quiz]="quiz" (quizSelected)="selectQuiz($event)">
        </app-quiz-selection-view>
      </div>
    </div>

  </div>



  <div *ngIf="niveau !== 'all'">
    <div *ngIf="themeSelected === 'all'">
      <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz-selection-view *ngIf="quiz.niveau === niveau && quiz.name.includes(query)" [quiz]="quiz" (quizSelected)="selectQuiz($event)">
        </app-quiz-selection-view>
      </div>
    </div>
    <div *ngIf="themeSelected !== 'all'">
      <div class="quiz" *ngFor="let quiz of quizList">
        <app-quiz-selection-view
          *ngIf="(quiz.niveau === niveau) && (quiz.theme === themeSelected) && quiz.name.includes(query)"
          [quiz]="quiz" (quizSelected)="selectQuiz($event)"></app-quiz-selection-view>
      </div>
    </div>
  </div>

</div>
<button class="back-button" (click)="this.utilService.goToPage('/acceuil-joueur')">Retour</button>
