@import '../../../../styles/back.scss';

.bottom-div{
    height: 100px;
    width: 100%;
}

.quiz {
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
}







