<app-connected-header class="header"></app-connected-header>

<ng-container *ngIf="quiz">
    <h1 class="quiz">{{quiz.name}}</h1>
    <app-question-form class="form" [quiz]="quiz"></app-question-form>
    <app-question-list [quiz]="quiz"></app-question-list>
</ng-container>
<div *ngIf="quiz">
    <button class="back-button" *ngIf="quiz.questions.length === 0" (click)="this.utilService.goToPage('/quiz-list')">Retour</button>
    <button class="back-button-perso" *ngIf="quiz.questions.length !== 0" (click)="this.utilService.goToPage('/quiz-list')">Retour</button>
</div>



