<div class="card">
  <h2>Créer un nouveau quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">

    <label for="title">
      Titre (4 à 25 caractères)<br>
      <mat-form-field>
        <input matInput class="input-custom" type="text" id="name" [formControlName]="'name'">
        <mat-error *ngIf="quizForm.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </label>

    <br>

    <label for="title">
      Difficulté:
      <mat-form-field>
        <select matNativeControl required [formControlName]="'niveau'">
          <option value="Facile">Facile</option>
          <option value="Moyen">Moyen</option>
          <option value="Difficile">Difficile</option>
        </select>
      </mat-form-field>
      <br>
      
    </label>

    <br>

    <label for="theme">
      Thème <br>
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let theme of QUIZ_THEMES" [value]="theme">
          {{theme}}
        </option>
      </select>

      <div class="add-theme">
        <form [formGroup]="themeForm">
          <div class="form-group">
            <input type="text" class="form-control" id="new_theme" [formControlName]="'new_theme'">
          </div>
          <button type="submit" class="btn btn-success" (click)="addTheme()">Ajouter le thème</button>
        </form>

        <select id="theme_to_remove" [(ngModel)]="themeToRemove" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let theme of QUIZ_THEMES" [value]="theme">
            {{theme}}
          </option>
        </select>
        <br>
        <button (click)="removeTheme()">Supprimer le thème</button>
      </div>

    </label>

    <br>

    


    <button type="submit" [disabled]="!quizForm.valid" class="button-card" (click)="addQuiz()">Créer</button>
  </form>
</div>


