
    <div class="nbQuestionPreference">
        <button class="button-card" (click)="onDisplayTwoAnswers()">Question à 2 réponses</button>
        <button class="button-card" (click)="onDisplayFourAnswers()">Question à 4 réponses</button>
    </div>
    <br>

    <div *ngIf="nbQuestions === 2" class="card">
        <form>
            <div class="form-group">
                Question 
                <br>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                Réponses
                <br>
                <input type="text" class="form-control" id="answer0">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="answer1">
            </div>
            <button type="submit" class="btn btn-success">Valider</button>
        </form>
    </div>

    <div *ngIf="nbQuestions === 4" class="card">
        <form>
            <div class="form-group">
                Question
                <br>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                Réponses
                <br>
                <input type="text" class="form-control" id="answer0">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="answer1">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="answer2">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="answer3">
            </div>
            <button type="submit" class="btn btn-success">Valider</button>
        </form>
    
</div>
