<app-header class="header"></app-header>
<div  *ngIf="availableUsers!==undefined" >
    <div class="list" *ngFor="let user of availableUsers">
        <div class="card">
            <h3>{{user.firstName}}</h3>
            <h3>{{user.lastName}}</h3>
            <button class="button-card" (click)="onSelectUser(user)">Sélectionner</button>
            <button class="button-card" (click)="deleteUser(user)">Supprimer</button>
        </div>
    </div>
</div>
<button class="button" *ngIf="availableUsers===undefined || availableUsers.length===0" (click)="onNoUserAvailable()">
    Pas d'utilisateurs trouvés.
    Veuilez en créer un.
</button>
<button class="back-button" (click)="this.utilService.goToPage('/acceuil')">Retour</button>
 