@import '../../../styles/card.scss';
@import "../../../styles/variables.scss";
@import '../../../styles/back.scss';

.button {
    position: relative;
    background-color: $lightGray;
    border: solid 1px $blue;
    color: $white;
    margin: auto;
    margin-top: 5%;
    display: block;
    font-size: 40px;
    font-weight: bold;
    padding: 0.5em 1em;
    width: 50%;
}

.button:hover {
    cursor: pointer;
    background-color: $blue;
    border:  solid 1px $white;
    color: $white;
}
