@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
    color: $white;
}

.acceuil {
    color: black;
    display: flex;
    justify-content: center;
}

.button-selection {
    position: relative;
    background-color: $lightGray;
    border: solid 1px $blue;
    color: $white;
    left: 25%;
    font-size: 40px;
    font-weight: bold;
    padding: 0.5em 1em;
}

.button-edition {
    position: relative;
    background-color: $lightGray;
    border: solid 1px $blue;
    color: $white;
    float: right;
    right: 25%;
    font-size: 40px;
    font-weight: bold;
    padding: 0.5em 1em;
}
