<div *ngIf="question">
    <h1 [ngStyle]="{'font-size': size + 'px'}" class="question">{{ question.label }}</h1>
    <div *ngIf="question.answers.length===4">
        <div class="answer" *ngFor="let answer of question.answers; let i=index">
            <div class="value">
                <button [ngStyle]="{'font-size': size + 'px'}" class="button" (click)="onButtonClick(i)">{{answer.value}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="question.answers.length===2">
        <div class="answer" *ngFor="let answer of question.answers; let i=index">
            <div class="value">
                <button [ngStyle]="{'font-size': size + 'px'}" class="button2" (click)="onButtonClick(i)">{{answer.value}}</button>
            </div>
        </div>
    </div> 
</div>
<br><br>
<app-bottom-sheet-visual-preference></app-bottom-sheet-visual-preference>
