@import "../../../styles/variables.scss";

.button {
    position: left;
    background-color: $white;
    border: solid 1px #008000;
    color: #000000;
    margin: left;
    margin-top: 5%;
    display: block;
    font-size: 40px;
    font-weight: bold;
    padding: 0.5em 1em;
    width: 25%;
    transition: background-color 1s;
}

.button:hover {
    cursor: pointer;
    background-color: #008000;
    border:  solid 1px $white;
    color: $white;
}
  